<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="T:\Packages" />
  </config>
  <packageSources>
     <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
	 <add key="Hanseaticsoft" value="https://www.myget.org/F/hanseaticsoft/auth/707dca70-d726-49f8-98aa-233f2120325b/api/v3/index.json" />
	 <add key="powershell-core" value="https://powershell.myget.org/F/powershell-core/api/v3/index.json" />
  </packageSources>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
</configuration>